.forgot-password-page{
    width: 30%;
    height: 55%;
    margin: 58px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 200px;
}

.forgot-password-button{
    background-color: #333;
}

button[type="submit"] {
    background-color: #333;
    color: #ddc89b;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    
}

button[type="submit"]:hover {
    background-color: #ddc89b;
    color: #333;

}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
.show-password{
    margin-bottom: 10px;
}
  
  

