

* {
  box-sizing: border-box;
}

.product-container {
  margin: 20px;
}

.product-title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.product-title {
  margin: 0;
}

.view-more-btn {
  background-color: #ddc89b;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  border-radius: 5px;
}

.view-more-btn:hover {
  color: #fff;
  background-color: #DDC89B;
}
